<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweet app</title>
    <link rel="stylesheet" href="node_modules/bulma/css/bulma.css">
    <style>
      .container {
        width: 500px;
      }
    </style>
  </head>
  <body>
  	<div id="app">

    <div class="container">
      <h1 class="title">Tweet app</h1>

      <p style="margin-bottom: 20px">
        <a @click="addModal" class="button is-info" :class="{ 'is-active' : showModal}">Add new tweet</a>
      </p>
  
      <p v-if="tweets.length === 0">No tweets yet...</p>

      <div v-for="tweet in reverse " class="card" style="margin-bottom:20px">
        <div class="card-content">
          <div class="content" >
            {{tweet}}
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">Delete</a>
        </footer>
      </div>


      <!-- Modal -->
      <div class="modal" :class="{ 'is-active' : showModal}" >
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Add new tweet</p>
            <button @click="closeModal" class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">

            <div class="field">
              <label class="label">Tweet</label>
              <div class="control">
                <textarea v-model="newTweet" class="textarea" placeholder="Textarea" :class="{ 'has-text-danger' : validLength}"></textarea>
              </div>
            </div>

          </section>
          <footer class="modal-card-foot">
            <p style="margin-right: 20px" :class="{'has-text-danger' : AantalChars < 7}">
              {{AantalChars}}
              
            </p>
            <button @click="addTweet"  :disabled="this.newTweet == '' || this.newTweet.length >this.maxChars" class="button is-success" :class="{ 'is-loading' : loading}">Save tweet</button>
          </footer>
        </div>
      </div>


    </div>
</div>



    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
